.date {
    font-family: $ff-secondary;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 1;
    background-color: $accent;
    border-radius: 0 5px;
    padding: 8px 12px;
}
