.modal {
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 5;
    background-color: rgba($color: #000000, $alpha: 0.8);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    overflow-y: auto;
    overflow-x: hidden;


    &.active {
        visibility: visible;
        opacity: 1;

        .modal__content {
            transform: translate(0px, 0px);
            opacity: 1;
        } 
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        background-color: #FFFFFF;
        border-radius: 5px;
        position: relative;
        opacity: 0;
        transition: all 0.8s ease;
        transform: translate(0px, -100%);
        position: relative;
        margin: auto;
        padding: 30px 20px;
    }

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        & > label {
            width: 100%;

            & > input, textarea {
                font-family: 'Helvetica', sans-serif;
                font-size: 16px;
                font-weight: 400;
                width: 100%;
                padding: 8px 14px;
                margin-bottom: 10px;
                border: 1px solid #E7E7E8;
                border-radius: 0 5px;
            }

            & > input {
                height: 50px;
            }

            & > textarea {
                margin-bottom: 15px;
            }
        }
    }

    &__close {
        display: block;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        border-radius: 6px;
        font-size: 18px;
        line-height: 1;
        color: #8e8e8e;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;

        &:focus {
            outline: 2px solid $accent;
        }
    }
}
