* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

.body {
    font-family: $ff-primary;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: $text;

    &.lock {
        overflow: hidden;
    }
}

.container {
    width: 100%;
    max-width: 1320px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
