// Colors

$accent: #F88500;
$text: #333333;
$text-light: #999999;
$dark: #202328;
$dark-header: #6F7A8B;
$deep: #171A1A;

//Fonts

$ff-primary: 'Raleway', 'Arial', sans-serif;
$ff-secondary: 'Roboto', 'Arial', sans-serif;

// Breakpoints

$brp-sm: 576px;
$brp-md: 768px;
$brp-lg: 992px;
$brp-xlg: 1200px;
$brp-xxlg: 1400px;
