@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/raleway-v27-latin_cyrillic-300.woff2") format("woff2"), url("../../fonts/raleway-v27-latin_cyrillic-300.woff") format("woff");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/raleway-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../../fonts/raleway-v27-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/raleway-v27-latin_cyrillic-500.woff2") format("woff2"), url("../../fonts/raleway-v27-latin_cyrillic-500.woff") format("woff");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/raleway-v27-latin_cyrillic-600.woff2") format("woff2"), url("../../fonts/raleway-v27-latin_cyrillic-600.woff") format("woff");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/raleway-v27-latin_cyrillic-700.woff2") format("woff2"), url("../../fonts/raleway-v27-latin_cyrillic-700.woff") format("woff");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/raleway-v27-latin_cyrillic-800.woff2") format("woff2"), url("../../fonts/raleway-v27-latin_cyrillic-800.woff") format("woff");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/raleway-v27-latin_cyrillic-900.woff2") format("woff2"), url("../../fonts/raleway-v27-latin_cyrillic-900.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/roboto-v30-latin_cyrillic-300.woff2") format("woff2"), url("../../fonts/roboto-v30-latin_cyrillic-300.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff");
}
@font-face {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url("../../fonts/icons.woff") format("woff"), url("../../fonts/icons.woff2") format("woff2");
}
[class^=_icon-]::before,
[class*=" _icon-"]::before {
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-fb:before {
  content: "\e900";
}

._icon-ig:before {
  content: "\e901";
}

._icon-li:before {
  content: "\e902";
}

._icon-tw:before {
  content: "\e903";
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.body {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.body.lock {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1320px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  width: 100%;
  min-width: 320px;
  height: 100vh;
  background-color: #202328;
  padding: 10px;
  position: relative;
  z-index: 1;
}
.header__navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 40px 0 28px;
}
.menu__logo {
  display: block;
  width: 122px;
  height: 30px;
}
.menu__burger {
  display: block;
  width: 24px;
  height: 18px;
  position: relative;
  z-index: 5;
  cursor: pointer;
}
.menu__burger span, .menu__burger::before, .menu__burger::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  transition: transform 0.3s;
}
.menu__burger::before, .menu__burger::after {
  content: "";
}
.menu__burger::before {
  top: 0;
}
.menu__burger::after {
  bottom: 0;
}
.menu__burger span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.menu__burger.active span, .menu__burger.active::before, .menu__burger.active::after {
  background-color: #202328;
}
.menu__burger.active span {
  transform: scale(0) translate(0px, -50%);
}
.menu__burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.menu__burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
.menu__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 80px 30px;
  transition: top 0.5s;
  overflow: auto;
}
.menu__content.active {
  top: 0;
}
.menu__list {
  display: flex;
  flex-direction: column;
}
.menu__list-item {
  font-size: 28px;
  font-weight: 500;
  line-height: 150%;
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
  margin: 0 0 20px;
}
.menu__list-item:last-child {
  margin-bottom: 0;
}
.menu__social {
  display: none;
}
.menu__social--mobile {
  display: flex;
}
.menu__social--mobile > a {
  font-size: 28px;
  line-height: 0px;
  text-decoration: none;
  color: #202328;
  margin: 0 20px 0 0;
}
.menu__social--mobile > a:hover, .menu__social--mobile > a:focus {
  color: #F88500;
}

@media (min-width: 768px) {
  .menu__burger {
    display: none;
  }
  .menu__content {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: transparent;
    padding: 0;
  }
  .menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 420px;
  }
  .menu__list-item {
    font-size: 14px;
    display: block;
    font-weight: 500;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 10px;
    margin: 0 auto;
    transition: all 0.3s;
  }
  .menu__list-item:hover, .menu__list-item:focus {
    background-color: rgba(196, 196, 196, 0.2);
    border-radius: 0px 5px;
  }
  .menu__social {
    display: flex;
    padding: 8px 9px;
    background-color: rgba(196, 196, 196, 0.25);
    border-radius: 70px;
  }
  .menu__social-item {
    font-size: 16px;
    line-height: 0px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    margin: 0 6px;
    transition: all 0.3s;
  }
  .menu__social-item:hover, .menu__social-item:focus {
    color: #F88500;
  }
  .menu__social--mobile {
    display: none;
  }
}
@media (min-width: 992px) {
  .menu__list {
    width: 500px;
  }
  .menu__list-item {
    padding: 8px 15px;
  }
}
.slider {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.slider::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(32, 35, 40, 0.15);
}
.slider__list {
  display: flex;
}
.slider__item {
  width: 100%;
  height: calc(100vh - 20px);
}
.slider__item-cover {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__content {
  max-width: 1320px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding: 0 20px;
}
.slider__content-title {
  font-weight: 300;
  font-size: 40px;
  line-height: 68px;
  color: #FFFFFF;
  animation: 1.5s ease 0s 1 normal forwards fadeIn;
}
.slider__content-subtitle {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #F88500;
  border-radius: 0 5px;
  padding: 6px 20px 7px;
  margin-bottom: 25px;
  animation: 1.5s ease 0s 1 normal forwards fadeIn;
}
.slider__content-description {
  max-width: 450px;
  color: #FFFFFF;
  background-color: rgba(32, 35, 40, 0.9);
  border-radius: 0 10px;
  padding: 15px 20px;
  opacity: 0;
  animation: 1.5s ease 0.5s 1 normal forwards fadeIn;
}
.slider__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px 10px 0;
  background-color: #202328;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}
.slider__control-pages {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  bottom: 0;
  width: auto;
}
.slider__control-pages-current {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  color: #818B9D;
}
.slider__control-pages-separator {
  display: inline-block;
  width: 1px;
  height: 28px;
  background-color: #353941;
  margin: 0 10px;
}
.slider__control-pages-all {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  color: #353941;
}
.slider__control-scrollbar {
  width: 100%;
  max-width: 180px;
  height: 5px;
  margin: 0 15px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
}
.slider__control-scrollbar:hover {
  cursor: pointer;
}
.slider__control-navigation {
  display: flex;
  width: 60px;
  justify-content: space-between;
}
.slider__control-navigation-prev, .slider__control-navigation-next {
  display: block;
  width: 8px;
  height: 15px;
  fill: #59606C;
  transition: fill 0.3s;
  position: relative;
}
.slider__control-navigation-prev:hover, .slider__control-navigation-next:hover {
  cursor: pointer;
  fill: #F88500;
}

@media (min-width: 576px) {
  .slider__content-title {
    font-size: 58px;
    margin-bottom: 20px;
  }
  .slider__control {
    width: 440px;
    height: 90px;
    padding: 5px 36px 0;
    border-radius: 10px 0 0 0;
  }
  .slider__control-scrollbar {
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .slider__item-cover {
    width: 100%;
    -o-object-position: left bottom;
       object-position: left bottom;
  }
}
.guarantees {
  padding: 50px 0;
  background-color: #171A1A;
}
.guarantees__content {
  display: none;
}
.guarantees__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guarantees__cta-text {
  width: 100%;
  max-width: 480px;
  text-align: center;
  color: #6F7A8B;
  margin-bottom: 16px;
}
.guarantees__cta-phone {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 46px;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .guarantees__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .guarantees__content {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
  }
  .guarantees__content-title {
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #6F7A8B;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #2D3038;
  }
  .guarantees__content-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-shrink: 1;
    list-style-type: none;
  }
  .guarantees__content-item {
    width: 50%;
    line-height: 16px;
    color: #6F7A8B;
    padding-bottom: 16px;
  }
  .guarantees__content-item:last-child {
    padding-bottom: 0;
  }
  .guarantees__content-item span {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #6F7A8B;
  }
  .guarantees__cta {
    align-items: flex-end;
    flex-shrink: 0;
    margin-left: auto;
  }
  .guarantees__cta-text {
    max-width: 360px;
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .guarantees__content-list {
    justify-content: space-between;
  }
  .guarantees__content-item {
    width: 30%;
  }
}
.button {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 44px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0 28px;
  border: none;
  background-color: #F88500;
  border-radius: 0 5px;
}
.button:hover {
  cursor: pointer;
  background-color: #FF8D09;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
.modal__wrapper {
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}
.modal__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 30px 20px;
  position: relative;
}
.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.modal__form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.modal__form > label {
  width: 100%;
}
.modal__form > label > input, .modal__form > label textarea {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  padding: 8px 14px;
  margin-bottom: 10px;
  border: 1px solid #E7E7E8;
  border-radius: 0 5px;
}
.modal__form > label > input {
  height: 50px;
}
.modal__form > label > textarea {
  margin-bottom: 15px;
}
.modal__close {
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1;
  color: #8e8e8e;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal__close:focus {
  outline: 2px solid #F88500;
}
/*# sourceMappingURL=style.css.map */
